:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 8.5fr 0.5fr;
  min-height: 100vh;
}

/* Placeholder styles to visually distinguish sections */

* {
  outline: 1px red solid;
}

header {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

main {
  background-color: #ccd2d9;
  text-align: center;
  font-size: 2rem;
}

footer {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
